/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/*
/composer.phar
/app/bootstrap.php.cache
!bin/console
!bin/symfony_requirements
/app/spool/*
/var/bootstrap.php.cache
/phpunit.xml