<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}          
        {% stylesheets 'assets/vendor/bootstrap/dist/css/bootstrap.min.css' filter='cssrewrite'
               'assets/vendor/components-font-awesome/css/font-awesome.css'%}
               <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
