{% extends 'base.html.twig' %}

{% block body %}
    <h1>Location creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-group">
        <input type="submit" value="Create" class="btn btn-primary"/><span class="glyphicon glyphicon-ok"></span>
        {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('location_index') }}" role="button">Back to the list</a>
        </li>
    </ul>
        </div>
{% endblock %}
