{% extends 'base.html.twig' %}

{% block body %}
    <h1>This page title </h1>
    <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--- vvv Hamburger icon that gets shown when window reaches a certain scale vvv --->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--- ^^^ Hamburger icon that gets shown when window reaches a certain scale ^^^ --->
            <a class="navbar-brand" href="#">WebSite Title<img alt="Brand" src="../images/skamelb.jpg"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!--- vvv Create a divider in the nav vvv --->
                <li class="divider"></li>
                <li><a href="/about">About</a></li>
                <!--- vvv Create a divider in the nav vvv --->
                <li class="divider"></li>
                <li><a href="/location">Location</a></li>
                <li class="divider"></li>
                <li><a href="/contact">Contact</a></li>
                <!--- vvv Create a submenu in the navbar vvv --->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Testing Stuff <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">SubItem</a></li>
                        <li><a href="#">Something Sub-y</a></li>
                        <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <!--- ^^^ Create a submenu in the navbar ^^^ --->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
              </ul>
        </div>
    </div>
</nav>
            <div class="container">

          <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs &raquo;</a>
            </p>
          </div>
    
        </div> <!-- /container -->                  
                        
                       
{% endblock %}         